body {
  background: #F9FAFC;
  font-family: "Lato", Helvetica, sans-serif; }

/* HEADER/NAVAGATION-----------------------------*/
header {
  padding-top: 20px;
  padding-bottom: 20px; }

#presents {
  text-align: center;
  color: #A4A5A6;
  font-size: 2.5em;
  font-weight: 300;
  margin: 0 0 0 0; }

#logo {
  width: 100%;
  max-height: 175px; }

#mobileNav ul li {
  margin-bottom: 10px;
  padding: 0; }
#mobileNav a {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: #BFE7F6;
  border-radius: 0px;
  color: #58585A;
  font-weight: 900;
  font-style: italic;
  font-size: 1.75em;
  padding: 0 5px 0 0;
  text-align: right; }
#mobileNav a:hover {
  background-color: #F9FAFC;
  border-radius: 0px; }

@media (min-width: 768px) {
  #mobileNav ul li a {
    margin: 60px 20px 0 0;
    width: 125px;
    -webkit-box-shadow: 5px 5px 0px 0px #58585a;
    -moz-box-shadow: 5px 5px 0px 0px #58585a;
    box-shadow: 5px 5px 0px 0px #58585a; }
  #mobileNav ul li a:hover {
    background-color: #BFE7F6;
    position: relative;
    top: 2px;
    -webkit-box-shadow: 5px 5px 0px 0px #58585a;
    -moz-box-shadow: 5px 5px 0px 0px #58585a;
    box-shadow: 5px 5px 0px 0px #58585a; } }
#mainSection {
  background-image: url("../images/fishermancropped.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #mainSection p {
    font-family: "Lato", Helvetica, sans-serif; }
  #mainSection .baitcaster, #mainSection .baitcasterSub {
    margin-top: 175px;
    font-size: 2em;
    background-color: #58585A;
    color: #F9FAFC;
    font-style: italic;
    font-weight: 300;
    padding-left: 10px;
    margin-right: 5px;
    -webkit-box-shadow: -1px 3px 0px 1px #49494c;
    -moz-box-shadow: -1px 3px 0px 1px #49494c;
    box-shadow: -1px 3px 0px 1px #49494c; }
  #mainSection .baitcaster {
    margin-bottom: 20px; }
  #mainSection .baitcasterSub {
    margin-top: -5px; }
  #mainSection .price {
    margin-top: 30px;
    font-size: 3em;
    background-color: #82D4ED;
    text-align: center;
    color: #F9FAFC;
    background-color: rgba(130, 212, 237, 0.5);
    margin-right: 3px; }

@media (min-width: 768px) {
  #mainSection {
    padding-bottom: 30px;
    background-image: url("../images/fisherman2cropped.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    #mainSection .baitcaster {
      margin-top: 10px; }
    #mainSection .baitcaster, #mainSection .baitcasterSub {
      font-size: 3.25em;
      text-align: center; } }
@media (min-width: 992px) {
  #mainSection {
    background-image: none; }
    #mainSection .baitcaster, #mainSection .baitcasterSub {
      font-size: 4em;
      font-weight: 500; }

  .baitcaster, .baitcasterSub, .price {
    position: relative;
    bottom: 300px;
    padding: 0;
    font-size: 3em; } }
@media (min-width: 992px) {
  .baitcasterSub {
    color: #58585A; } }
.noRightPad {
  padding-right: 0;
  margin-right: 0; }

.noLeftPad {
  padding-left: 0;
  margin-left: 0; }

/*DESKTOP--------*/
#desktopImage {
  margin-top: -20px;
  width: 100%; }

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 1;
  background-color: rgba(88, 88, 90, 0.3);
  margin-top: -20px; }

.navbar-brand {
  margin-bottom: 250px; }

.navbar-fixed-left .navbar-nav > li {
  float: none;
  /* Cancel default li float: left */
  width: 139px; }

.navbar-fixed-left + .container {
  padding-left: 160px; }

#desktopHeader ul li a {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: #BFE7F6;
  border-radius: 0px;
  width: 150px;
  color: #58585A;
  font-weight: 900;
  font-style: italic;
  font-size: 2.25em;
  padding: 10px 5px 10px 5px;
  text-align: right;
  margin: 15px 0 0 25px;
  -webkit-box-shadow: 5px 5px 0px 0px #58585a;
  -moz-box-shadow: 5px 5px 0px 0px #58585a;
  box-shadow: 5px 5px 0px 0px #58585a; }
#desktopHeader ul li a:hover {
  position: relative;
  top: 5px;
  left: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px #58585a;
  -moz-box-shadow: 0px 0px 0px 0px #58585a;
  box-shadow: 0px 0px 0px 0px #58585a; }

#desktopLogo {
  width: 140%;
  padding-left: 10px; }

.desktopPresents {
  top: -100px;
  position: relative;
  margin-left: 15px;
  font-size: 2.35em;
  color: #58585A;
  font-weight: 300; }

@media (min-width: 992px) {
  #siteContent {
    margin-left: 200px; } }
/* ABOUT SECTION ------------------------ */
#aboutSection h2 {
  background-color: #58585A;
  text-align: right;
  color: #F9FAFC;
  font-style: italic;
  font-weight: 600;
  padding-right: 10px; }
#aboutSection p {
  color: #A4A5A6;
  text-align: center;
  font-size: 1.25em; }
#aboutSection img {
  width: 100%; }
#aboutSection #reelImage {
  max-width: 300px; }
@media (min-width: 768px) {
  #aboutSection h2 {
    font-size: 2.75em; }
  #aboutSection p {
    text-align: left;
    padding: 10px; } }

@media (min-width: 992px) {
  #siteContent {
    margin-top: -300px; }

  p {
    font-size: 1.5em;
    padding: 20px; } }
/* REVIEWS SECTION ------------------------ */
#reviewSection h2 {
  background-color: #58585A;
  text-align: left;
  color: #F9FAFC;
  font-style: italic;
  font-weight: 600;
  padding-left: 10px; }
#reviewSection p {
  color: #58585A;
  height: 220px;
  font-size: 1.3em;
  text-align: center;
  padding: 35px 15px 0px 15px; }
#reviewSection .sm-reel {
  width: 100%;
  padding: 20px; }
@media (min-width: 768px) {
  #reviewSection h2 {
    font-size: 2.75em; }
  #reviewSection #reviewGallery {
    margin-top: 20px;
    margin-right: 30px; }
  #reviewSection p {
    padding-top: 40px;
    font-size: 1.25em; } }

.carousel-indicators li {
  border: 2px solid #58585A;
  height: 15px;
  width: 15px; }

.carousel-indicators .active {
  background-color: #58585A;
  height: 20px;
  width: 20px; }

/* SHOP SECTION ------------------------ */
#shopSection {
  padding-top: 40px; }
  #shopSection h2 {
    background-color: #58585A;
    text-align: right;
    color: #F9FAFC;
    font-style: italic;
    font-weight: 600;
    padding-right: 10px; }
  #shopSection img {
    max-width: 100%; }
  #shopSection input, #shopSection label {
    float: left;
    margin: 5px;
    margin-top: 25%; }
  #shopSection label {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.5em;
    color: #A4A5A6; }
  #shopSection #quantity {
    width: 50px; }
  #shopSection .shopPrice {
    background-color: #BFE7F6;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 2.5em;
    color: #F9FAFC;
    text-align: center; }
  #shopSection button {
    font-size: 1.5em;
    font-family: "Lato", Helvetica, sans-serif;
    color: #A4A5A6; }
  #shopSection .distributors {
    text-align: center;
    font-family: "Lato", Helvetica, sans-serif;
    color: #A4A5A6;
    font-style: italic; }
    #shopSection .distributors a {
      color: #82D4ED; }
  #shopSection .shopTitle {
    font-size: 3em;
    color: #A4A5A6; }
  @media (min-width: 768px) {
    #shopSection h2 {
      font-size: 2.75em; }
    #shopSection .shopTitle {
      font-size: 2.2em; }
    #shopSection #QuantLabel {
      padding-left: 10px;
      padding-right: 20px; }
    #shopSection #QuantLabel, #shopSection #quantity {
      margin-top: 50px; }
    #shopSection #addBut {
      padding: 0px 30px 0px 30px; } }

#shopContainer {
  border: 2px solid #82D4ED;
  padding: 30px;
  margin: 20px; }

/* RATE SECTION ------------------------ */
#rateSection .form-group {
  margin: 0; }
#rateSection .form-control {
  border-radius: 0px;
  margin-top: 7px;
  text-align: center;
  font-family: "Lato", Helvetica, sans-serif; }
#rateSection h2 {
  background-color: #58585A;
  text-align: left;
  color: #F9FAFC;
  font-style: italic;
  font-weight: 600;
  padding-left: 10px; }
#rateSection .letUs {
  background-color: #F9FAFC;
  color: #A4A5A6;
  font-size: 1.4em;
  padding: 15px; }
#rateSection textarea {
  color: #A4A5A6; }
#rateSection button {
  width: 100%;
  margin-top: 7px;
  border-radius: 0px;
  color: #A4A5A6; }

#discountBox {
  background-color: #BFE7F6;
  text-align: center;
  height: 240px;
  color: #58585A;
  margin-top: 5px;
  padding-top: 70px; }

#getOff {
  font-size: 2em; }

#nextPurch {
  font-size: 1.5em; }

@media (min-width: 768px) {
  #rateSection .letUs {
    background-color: #F9FAFC;
    padding-left: 80px; }

  #discountBox {
    padding-top: 50px; } }
@media (min-width: 992px) {
  #discountBox {
    padding: 20px 10px 20px 10px; } }
/*FOOTER--------------*/
footer {
  padding-bottom: 30px; }
  footer #footerLogo {
    margin-top: 10px; }

#mediaIcons {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px solid #58585A; }

@media (min-width: 992px) {
  #mediaIcons {
    padding-left: 50px; } }
@media (min-width: 1200px) {
  #mediaIcons {
    padding-right: 75px; } }

/*# sourceMappingURL=main.css.map */
