  
$mainFont: 'Lato', Helvetica, sans-serif;

$white: #F9FAFC;
$lblue: #BFE7F6;
$dblue: #82D4ED;
$lgrey: #A4A5A6;
$dgrey: #58585A;

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

body
{
	background: $white;
	font-family: $mainFont;
}






/* HEADER/NAVAGATION-----------------------------*/
header 
{
	padding-top: 20px;
	padding-bottom: 20px;	
}
#logo {
	width: 100%;
	max-height: 175px;
}

#mobileNav
{

	ul li {
		margin-bottom: 10px;
		padding: 0;
	}

	a{
		font-family: $mainFont;
		background-color: $lblue;
		border-radius: 0px;	
		color: $dgrey;
		font-weight: 900;
		font-style: italic;
		font-size: 1.75em;
		padding: 0 5px 0 0;
		text-align: right;

	}

	a:hover {
	background-color: $white;
	border-radius: 0px;
	}
}

@media (min-width: $screen-sm-min) { 

#mobileNav {

ul li a{
	margin: 60px 20px 0 0;
	width: 125px;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(88, 88, 90, 1);
-moz-box-shadow:   5px 5px 0px 0px rgba(88, 88, 90, 1);
box-shadow:    5px 5px 0px 0px rgba(88, 88, 90, 1);

}

ul li a:hover {
	background-color: $lblue;
	position: relative;
	top: 2px;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(88, 88, 90, 1);
-moz-box-shadow:   5px 5px 0px 0px rgba(88, 88, 90, 1);
box-shadow:    5px 5px 0px 0px rgba(88, 88, 90, 1);

}
}
	
}





#mainSection {
		background-image: url("../images/fishermancropped.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  p {

  	font-family: $mainFont;
  } 

  .baitcaster, .baitcasterSub {
  	margin-top: 175px;
  	font-size: 2em;
  	background-color: $dgrey;
  	color: $white;
  	font-style: italic;
  	font-weight: 300;
  	padding-left: 10px;
  	-webkit-box-shadow: -4px 4px 0px 1px rgba(73,73,76,1);
	-moz-box-shadow: -4px 4px 0px 1px rgba(73,73,76,1);
	box-shadow: -4px 4px 0px 1px rgba(73,73,76,1);
  }

  .baitcasterSub {

  		margin-top: -5px;
  }

  .price {

  		margin-top: 30px;
  		font-size: 3em;
  		background-color: $dblue;
  		text-align: center;
  		color: $white;
  		background-color:rgba(130, 212, 237, 0.5);
  }



  }

  @media (min-width: $screen-sm-min) { 

  #mainSection {

  background-image: url("../images/fisherman2cropped.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  		.baitcaster {
  		margin-top: 10px;
 
  		}

  		.baitcaster, .baitcasterSub {
  		font-size: 3.25em;
  		text-align: center;
  		}

  		.baitcasterSub {
  		margin-bottom: 30px;
  		}
  }


  }




.noRightPad {
   padding-right: 0;
   margin-right: 0;
}

.noLeftPad {
	padding-left: 0;
	margin-left: 0;
}


/*DESKTOP--------*/

#desktopImage {

	margin-top: -20px;
	width: 100%;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 1;
  background-color: rgba(88, 88, 90, 0.3);
  margin-top: -20px;
}

.navbar-brand {
	margin-bottom: 300px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

#desktopHeader {
	
	ul li a { font-family: $mainFont;
		background-color: $lblue;
		border-radius: 0px;	
		color: $dgrey;
		font-weight: 900;
		font-style: italic;
		font-size: 1.75em;
		padding: 0 5px 0 0;
		text-align: right;
		}

}

#desktopLogo
{
	width: 140%;
	padding-left: 10px;
}

/* ABOUT SECTION ------------------------ */

#aboutSection {
	h2 {
	background-color: $dgrey;
	text-align: right;
	color: $white;
	font-style: italic;
	font-weight: 600;
	padding-right: 10px;
	}

	p {
	color: $lgrey;
	text-align: center;
	font-size: 1.25em;
	}

	img {
	width: 100%;
	}

	 @media (min-width: $screen-sm-min) {
	 h2 {
	  font-size: 2.75em;
	 }
	 p  {
	 text-align: left;
	 padding: 10px;
	 }
	 }
}


/* REVIEWS SECTION ------------------------ */

#reviewSection {
	h2 {
	background-color: $dgrey;
	text-align: left;
	color: $white;
	font-style: italic;
	font-weight: 600;
	padding-left: 10px;	

	}

	p {

	color: $dgrey;
	height: 220px;
	background-color: $lblue;
	font-size: 1.5em;
	text-align: center;
	padding: 30px 15px 15px 15px;
	}

	.sm-reel {
	width: 100%;
	padding: 20px;
	}

	@media (min-width: $screen-sm-min) {

	h2 {
	font-size: 2.75em;
	margin-bottom: 50px;
	}

	#reviewGallery {
	padding-right: 30px;
	}
	}


}

.carousel-indicators {
  bottom:-30px;
}

.carousel-indicators li {
	border: 2px solid $dgrey;
}

.carousel-indicators .active { 
background-color: $dgrey;

	}

.carousel-inner {
   margin-bottom:30px;
}


/* SHOP SECTION ------------------------ */

#shopSection {

	padding-top: 40px;

		h2 {
	background-color: $dgrey;
	text-align: right;
	color: $white;
	font-style: italic;
	font-weight: 600;
	padding-right: 10px;
	}
	
	img {
		max-width: 100%;
	}

	h3 {
		font-size: 3em;
		color: $lgrey;
	}

	input, label {
    float:left;
    margin:5px;
    margin-top: 25%;
}

label {
	font-family: $mainFont;
	font-size: 1.5em;
	color: $lgrey;
}

#quantity {
	width: 50px;
}

p {
	background-color: $lblue;
	font-family: $mainFont;
	font-size: 2.5em;
	color: $white;
	text-align: center;
}

button {

	font-size: 1.5em;
	font-family: $mainFont;
	color: $lgrey;
	
}

h4 {
	
	text-align: center;
	font-family: $mainFont;
	color: $lgrey;
	font-style: italic;

	a {
	color: $dblue;
	}
}

@media (min-width: $screen-sm-min) {
	
	h2 {
	font-size: 2.75em;
	}
}

}

/* RATE SECTION ------------------------ */

#rateSection {

	.form-group {
	margin: 0;

	}

	.form-control {
	border-radius: 0px;
	margin-top: 7px;
	text-align: center;
	font-family: $mainFont;

	}



	h2 {
	background-color: $dgrey;
	text-align: left;
	color: $white;
	font-style: italic;
	font-weight: 600;
	padding-left: 10px;	

	}

	p {
	background-color: $lblue;
	color: $lgrey;
	font-size: 1.4em;
	padding: 15px;
	}

	textarea {
	color: $lgrey;
	}

	button{
	width: 100%;
	margin-top: 7px;
	border-radius: 0px;
	color: $lgrey;
}
}

/*FOOTER--------------*/

footer {

#footerLogo{
	
	margin-top: 10px;

}

hr
{
	border-top: 2px solid $dgrey;
	width: 90%;

}
}


